<div class="w-2/5">
  <app-card>
    <card-title> <h4 class="text-lg font-bold">Register Here</h4> </card-title>
    <card-body>
      <form action="">
        <div class="form-group mb-3">
          <label for="" class="form-label">Your Name</label><span>*</span>
          <input type="text" placeholder="Your Name" class="form-control" />

          <label for="" class="form-label">Email Address</label><span>*</span>
          <input
            type="email"
            placeholder="Email Address"
            class="form-control"
          />

          <label for="" class="form-label">Password</label><span>*</span>
          <input type="password" placeholder="Password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-blue">Register</button>
      </form>
    </card-body>
  </app-card>
</div>
